.badges {
  background-color: $badges_bg;
  padding: ($spacer * 1.5) 0;
}

.badges__frame {
  margin-bottom: 0;
  justify-content: center;
}

.badges__image {
  max-width: 99px;
  height: auto;
}

.badges__container {
  margin-bottom: 0;
}